<html>
<body>
    <p>Buenos días, se ha creado un transportador con los siguientes datos:</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha de petición</td><td style='border: 1px solid black; padding: 8px;'>{{RequestDate}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Correo Electrónico</td><td style='border: 1px solid black; padding: 8px;'>{{Email}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Nombre del cliente</td><td style='border: 1px solid black; padding: 8px;'>{{CustomerName}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Producto</td><td style='border: 1px solid black; padding: 8px;'>{{Product}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Valor de mercancía</td><td style='border: 1px solid black; padding: 8px;'>{{MerchandiseValue}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Vehículo nuevo</td><td style='border: 1px solid black; padding: 8px;'>{{VehicleIsNew}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Placa actual</td><td style='border: 1px solid black; padding: 8px;'>{{CurrentPlate}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Activo</td><td style='border: 1px solid black; padding: 8px;'>{{DriverIsActive}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Placa activa</td><td style='border: 1px solid black; padding: 8px;'>{{ActivePlate}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Origen</td><td style='border: 1px solid black; padding: 8px;'>{{Origin}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Destino</td><td style='border: 1px solid black; padding: 8px;'>{{Destination}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Modelo</td><td style='border: 1px solid black; padding: 8px;'>{{Model}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Repotenciado</td><td style='border: 1px solid black; padding: 8px;'>{{Repowered}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>GPS</td><td style='border: 1px solid black; padding: 8px;'>{{GPS}}</td></tr>
    </table>
</body>
</html>
