<html>
<body>
    <p>Buenos días, se ha creado un transportador con los siguientes datos:</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>tipoPqrs</td><td style='border: 1px solid black; padding: 8px;'>{{TipoPqrs}}</td></tr>
    </table>
</body>
</html>
