<html>
<body>
    <p>Buenos días, se ha creado un cliente con los siguientes datos:</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'>Campo</th>
            <th style='border: 1px solid black; padding: 8px;'>Valor</th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha de petición</td><td style='border: 1px solid black; padding: 8px;'>{{RequestDate}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Nombre del cliente</td><td style='border: 1px solid black; padding: 8px;'>{{CustomerName}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Iniciales</td><td style='border: 1px solid black; padding: 8px;'>{{Initials}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Identificación</td><td style='border: 1px solid black; padding: 8px;'>{{Identification}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Dirección</td><td style='border: 1px solid black; padding: 8px;'>{{Address}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Ciudad</td><td style='border: 1px solid black; padding: 8px;'>{{CityId}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Teléfono</td><td style='border: 1px solid black; padding: 8px;'>{{Phone}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Sitio Web</td><td style='border: 1px solid black; padding: 8px;'>{{WebSite}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Agente Registrado</td><td style='border: 1px solid black; padding: 8px;'>{{RegisteredAgent}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Identificación del Agente Registrado</td><td style='border: 1px solid black; padding: 8px;'>{{RegisteredAgentIdentification}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Es Persona Jurídica</td><td style='border: 1px solid black; padding: 8px;'>{{IsLegalPerson}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Sectores Económicos</td><td style='border: 1px solid black; padding: 8px;'>{{EconomicSectors}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Otros Sectores Económicos</td><td style='border: 1px solid black; padding: 8px;'>{{OtherEconomicSector}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Certificaciones</td><td style='border: 1px solid black; padding: 8px;'>{{Certifications}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Otras Certificaciones</td><td style='border: 1px solid black; padding: 8px;'>{{OtherCertification}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Facturar a</td><td style='border: 1px solid black; padding: 8px;'>{{BillTo}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Plazo de Pago</td><td style='border: 1px solid black; padding: 8px;'>{{PaymentDeadline}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha de Corte</td><td style='border: 1px solid black; padding: 8px;'>{{CutoffDate}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Monedas de Pago</td><td style='border: 1px solid black; padding: 8px;'>{{PaymentCurrencies}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Otros Métodos de Pago</td><td style='border: 1px solid black; padding: 8px;'>{{OtherPaymentCurrency}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Métodos de Pago</td><td style='border: 1px solid black; padding: 8px;'>{{PaymentMethods}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Imprimir Factura Agrupada</td><td style='border: 1px solid black; padding: 8px;'>{{PrintGroupedInvoice}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Es Factura Electrónica</td><td style='border: 1px solid black; padding: 8px;'>{{IsElectronicInvoice}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Correo de Facturación</td><td style='border: 1px solid black; padding: 8px;'>{{BillingEmail}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Proveedor de Facturación</td><td style='border: 1px solid black; padding: 8px;'>{{BillingProvider}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Observaciones de Facturación</td><td style='border: 1px solid black; padding: 8px;'>{{BillingObservations}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>La Empresa Tiene PEP</td><td style='border: 1px solid black; padding: 8px;'>{{CompanyHasPep}}</td></tr>
    </table>
    <br>
    <p>Información de Contactos:</p>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'>Nombre</th>
            <th style='border: 1px solid black; padding: 8px;'>Posición</th>
            <th style='border: 1px solid black; padding: 8px;'>Teléfono</th>
            <th style='border: 1px solid black; padding: 8px;'>Celular</th>
            <th style='border: 1px solid black; padding: 8px;'>Dirección</th>
            <th style='border: 1px solid black; padding: 8px;'>Correo</th>
        </tr>
        {{CustomerContactsTableRows}}
    </table>
    <br>
    <p>Información de Socios:</p>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'>Nombre</th>
            <th style='border: 1px solid black; padding: 8px;'>Identificación</th>
        </tr>
        {{PartnersTableRows}}
    </table>
</body>
</html>
 