<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Buen dia, se ha creado un PQRS con los siguientes datos:</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Email</td><td style='border: 1px solid black; padding: 8px;'>{{email}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Cliente</td><td style='border: 1px solid black; padding: 8px;'>{{cliente}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Canal</td><td style='border: 1px solid black; padding: 8px;'>{{canal}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Tipo de PQRS</td><td style='border: 1px solid black; padding: 8px;'>{{TipoPqrs}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Detalle</td><td style='border: 1px solid black; padding: 8px;'>{{detalle}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Manifiesto</td><td style='border: 1px solid black; padding: 8px;'>{{manifiesto}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha de la solicitud</td><td style='border: 1px solid black; padding: 8px;'>{{fechasolicitud}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Creado por</td><td style='border: 1px solid black; padding: 8px;'>{{creadopor}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha vencimiento</td><td style='border: 1px solid black; padding: 8px;'>{{fechavencimiento}}</td></tr>
    </table>
</body>
</html>