<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Buen dia, su solicitud está en tratamiento, a continuación los datos actuales:</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Tipo de PQRS</td><td style='border: 1px solid black; padding: 8px;'>{{TipoPqrs}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Descripción</td><td style='border: 1px solid black; padding: 8px;'>{{DescripcionPQRS}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Usuario tratamiento</td><td style='border: 1px solid black; padding: 8px;'>{{usuario}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Fecha vencimiento de la solicitud</td><td style='border: 1px solid black; padding: 8px;'>{{Fechavencimiento}}</td></tr>
    </table>
</body>
</html>
