<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Buen día, se ha creado una solicitud para creación de usuario para el siguiente cliente: {{cliente}}</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Email</td><td style='border: 1px solid black; padding: 8px;'>{{email}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Nombre</td><td style='border: 1px solid black; padding: 8px;'>{{nombre}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Celular</td><td style='border: 1px solid black; padding: 8px;'>{{celular}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Cargo</td><td style='border: 1px solid black; padding: 8px;'>{{cargo}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Área</td><td style='border: 1px solid black; padding: 8px;'>{{area}}</td></tr>
    </table>
</body>
</html>
