<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Buen día, se ha creado una solicitud para creación de cliente para: {{cliente}}</p>
    <br>
    <table style='width:100%; border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black; padding: 8px;'> Campo </th>
            <th style='border: 1px solid black; padding: 8px;'> Valor </th>
        </tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Razón social</td><td style='border: 1px solid black; padding: 8px;'>{{cliente}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Nit</td><td style='border: 1px solid black; padding: 8px;'>{{nit}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Correo electrónico</td><td style='border: 1px solid black; padding: 8px;'>{{correo}}</td></tr>
        <tr><td style='border: 1px solid black; padding: 8px;'>Observaciones</td><td style='border: 1px solid black; padding: 8px;'>{{observaciones}}</td></tr>
    </table>
</body>
</html>
